<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuAssist</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= link_to("幼児食献立アシスト", "/") %>
      </div>
      <ul class="header-menus">
      <li>
      <%= link_to("食材登録", "/ingredients/new") %>
      </li>
      <li>
      <%= link_to("登録中の食材", "/ingredients/index") %>
      </li>
      </ul>
    </header>
  <%= yield %>
  </body>
</html>

